@import url(./font.css);
@import url(./reset.css);
@import url(./common.css);

/* .header{position: relative;} */

.ad-box{
    height: 40px;
    line-height: 40px;
    background: #030303;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.ad-des{
    display: block;
    margin: 0 auto;
    /* position: relative; */
}
.ad-bold{font-weight: 700;}
.ad-bold.red{color: #ee5728;}

.header .swiper-slide .ad-des::after{/*@@@@@@@@ 왜 안나옴..? */
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 16px;
    margin-bottom: 4px;
    background: url(../image/icon/arrow_wh.png) no-repeat center;
}
.header .ic-kakao::after{/* @@@@@@@@@@@ 왜 안나옴..? */
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 18px;
    line-height: 20px;
    margin: 0 0 2px 7px;
    background: url(../image/icon/Icon_kakao_channel.png) no-repeat;
    background-size: cover;
}



.dimmed{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: opactiy 0.3s;
}
/* 제이쿼리 */
.dimmed.active{
    opacity: 1;
    visibility: visible;
}
.header .sc-menu.active{
    transform: translateX(0);
}

.header .sc-menu{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    width: 82%;
    height: 100%;
    /* display: none; */

    transform: translateX(-100%);
    transition: 0.3s;
    background: #fff;
    z-index: 9999;

    overflow: auto;
    overflow-x: hidden;
}

.sc-menu .common-inner{
    padding: 0 16px; 
}


.login-area{
    margin-top: 32px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

    position: relative;
}
.login-area a{
    display: inline-block;
    padding: 10px 26px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px;
}
.login-area .login{
    color: #fff;
    background: #0e0e0e;
    margin-right: 4px;
}
.login-area .join{
    border: 1px solid #ccc;
}
.login-area p{
    color: #777;
    font-size: 13px;
    margin-top: 15px;

}
.logo-area{
    position: fixed;
    width: 100%;
    height: 56px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;

    z-index: 9;
}

/* 제이쿼리 */
header.active .logo-area {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
header.active .logo {
    background: url(../image/logo/logo.png) no-repeat;
    background-size: 87px auto;
}
header.active .logo-area .link-menu {
    background-position: 0 -50px;
}
header.active .logo-area .link-search {
    background-position: 0 -75px;
}
header.active .logo-area .link-cart{
    background-position: 0 -25px;
}
header.active .logo-area .link-mypage {
    background-position: 0 0;
}


.here{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
.here .logo{
    background: url(../image/logo/logo.png) no-repeat center;
    background-size: 100%;
    width: 87px;
    height: 23px;
}
.here2{
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    background: #fff;
    /* transition: 0.3s; */
}
.logo-area .bold{
    font-weight: 700;
}
.close{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../image/icon/icon_close.png) no-repeat center;
    background-size: 100%;

    position: absolute;
    top: 5px;right: 0;
    cursor: pointer;
}

.category-list{
    padding: 18px 0;

    border-bottom: 1px solid #ccc;
}
.category-item{
    display: block;
    padding: 15px 0;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.category-wrap{
    margin-top: 15px;
    display: none;
}
.category-item .box-item{
    padding: 11px 0;
    color: #848484;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
} 
.category-item .open{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../image/icon/btn_open.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translateY(-50%); */

    /* background: #999; */
}
.event-box{
    display: block;
    width: 100%;
    height: 100%;
}
.event-box img{
    width: 100%;
    border-radius: 3px;
}

.event-txt{position: relative;}
.event-box .event-des1{
    margin: 12px 0 6px;
    font-weight: 500;
    font-size: 14px;
    color: #222;
}
.event-box .event-des2{
    font-size: 12px;
    font-weight: 500;
    color: #777;

    position: absolute;
    top: 0;
    right: 0;
}

.event-box p{
    font-size: 12px;
    font-weight: 400;
    color: #777;
}

.bott-box{
    margin-top: 30px;
}
.bott-box{display: flex;}
.bott-btn{
    display: inline-block;
    width: 50%;
    background: #F2F2F2;
    padding: 14px 0;
    font-size: 12px;
    font-weight: 400;
    color: #777;
    text-align: center;

}
.bott-box .story::after{
    content: '';
    width: 1px;
    height: 14px;
    background: #ccc;
    margin: 5px 0;
    z-index: 9;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
}










.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url(../image/logo/main_logo_m.svg) no-repeat center;
    width: 87px;
    height: 23px;
}
.link-menu{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 17px;
    background-position: -25px -50px;
    margin: 0 10px;
}
.link-search{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-position: -25px -75px;
    margin: 0 10px;
}
.link-cart{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-position: -25px -25px;
    margin: 0 10px;
}
.link-mypage{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-position: -25px 0;
    margin: 0 10px;
}

header .my-page-wrap .cart-number {
    position: absolute;
    right: -9px;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
}


.gnb-area{
    display: flex;
    top: 56px;
    left: 0;
    height: 45px;
    line-height: 45px;
    background: #fff;
    font-size: 16px;
    position: relative;
    z-index: 9;
    display: none;

}
.gnb-area.active{display: block;} 
.gnb-out{display: none;}
.gnb-list{
    display: flex;
    gap: 15px;
    letter-spacing: -0.05em;
    font-weight: 500;
}
.gnb-item:first-child{
    color: #EE5728;
    padding-left: 10px;
}
.circle::after{
    content: "";
    position: relative;
    top: -8px;
    right: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ee5728;
    display: inline-block;
}

.ic-arrow-b{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../image/icon/btn_open_middle_bk.png) no-repeat center;
}
/* 제이쿼리 화살표 돌아가기 */
.header .gnb-area.turn{
    transition: 0.3s;
    transform: rotate(180deg);
}

.gnb-total-title{padding: 0 10px;}
.gnb-in{display: none;}
.gnb-in .gnb-list{
    display: flex;
    gap: 3px;
    letter-spacing: -0.05em;
    font-weight: 500;
    flex-wrap: wrap;
    padding: 6px 12px;
    background: #F6F6F6;
    font-size: 14px;
    border-top: 1px solid #dcdcdc;
}
.gnb-in .gnb-item{
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    /* box-sizing: border-box; */
    background: #fff;
    font-size: 14px;
    line-height: 20px;
}
/* .gnb-in .turn{
    transform: rotate(-180deg);
} */
/* 트렌스폼은 동시에 사용 못하는지? */






/* footer */
footer .common-inner{
    padding: 40px 16px 40px;
    color: #555;
}
.call{
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin: 15px 0;
}
.business-hour{
    margin-bottom: 30px;
    line-height: 20px;
}

/* .ic-link{display: flex;} */
.ic-link .icon{
    width: 22px;
    height: 22px;
    display: inline-block;
}
.ic-link .icon+.icon{
    margin-left: 25px;
}
.ic-link .facebook{
    background: url(../image/icon/icon_facebook.png) no-repeat center;
    background-size: contain;
}
.ic-link .youtube{
    background: url(../image/icon/icon_YouTube.png) no-repeat center;
    background-size: contain;
}
.ic-link .insta{
    background: url(../image/icon/icon_Instagram.png) no-repeat center;
    background-size: contain;
}

.use-area{
    margin: 40px 0;
    color: #777;
    font-size: 12px;
    font-weight: 700;
}

.use-item::after{
    display: inline-block;
    content: '';
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 9px;
}
.use-item:last-child::after{
    display: none;
}

.addr-area{
    font-size: 11px;
    color: #777;
    line-height: 20px;
}

.bar{
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 7px;
}
.copy{
    font-size: 11px;
    color: #777;
    margin: 30px 0;
    font-weight: 600;
}
.copy span{
    font-weight: 300;
}

.ic-footer{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 15px;
}
.ftc{
    background: url(../image/icon/icon_ftc.png)no-repeat center;
    background-size: contain;
}
.symantec{
    width: 35px;
    background: url(../image/icon/icon_symantec.png)no-repeat center;
    background-size: contain;
}
.KG{
    width: 30px;
    background: url(../image/icon//icon_kg.png)no-repeat center;
    background-size: contain;
}
